.title-container {
   align-self: center;
    display: grid;
    height: 100px;
}

.content-mainPage {
    display: grid;
    height: 84vh;
    grid-auto-flow: column;
    background-image: url("https://i.ibb.co/cCykn4G/pngegg.png");
    background-repeat: no-repeat;
    background-position: top 170px right;
    background-size: 850px;
    background-attachment: fixed;
}

