.container-form{
    display: grid;
    justify-items: center;
    background-image: url("https://i.ibb.co/zrQbWv6/pngegg-2.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right 5%;
}


.form-registration{
    display: grid;
    width: 500px;
    justify-self: center;
    background-color: #0202cb;
    padding: 30px 30px 1px;

    margin-bottom: 200px;
}
.label{
  color:white;
}
.btn-registration{
    display: grid;
margin-left: 20%;
    grid-auto-flow: column;
    gap: 15px;
    width: 300px;
justify-self: center;
}
