.container-form{
    display: grid;
    justify-items: center;
}
.form-registration{
    display: grid;
    justify-items: center;
    width: 500px;
    justify-self: center;
    background-color: #0202cb;
    height: 30vh;
    padding-top: 30px;
    margin-bottom: 200px;
}
.label{
  color:white;
}
.btn-registration{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}
