.mainPage-container{
    display: grid;
    padding: 20px;
}
.title-container{
    display: grid;
}

.content-mainPage{
    display: grid;
    grid-auto-flow: column;
}

.img-mainPage{
    width: 700px;
}